env/
cs_nea/node_modules/

# Database
db.sqlite3

# Celery Beat
celerybeat-schedule.*

# Compiled Python Files
__pycache__/
*.pyc

# Static Files
staticfiles/

# Node Modules
node_modules/

# Tailwind Build Files
theme/static/css/dist/
theme/static_src/.cache/

# Logs
*.log
