{% extends "_dashboard.html" %}
{% load widget_tweaks %}

{% block name %}Request a Lesson{% endblock %}

{% block content %}
<div class="bg-white rounded-lg shadow-md p-6 h-full">
    <div class="h-full flex flex-col overflow-hidden">
        <div class="flex-grow overflow-y-auto">
            <div class="container mx-auto p-4 h-full">
                <form id="lessonRequestForm" method="post">
                    {% csrf_token %}
                    
                    <div class="flex flex-col gap-4 justify-center w-full">
                        <!-- Teacher field -->
                        <div class="w-full">
                            {{ form.teacher.label_tag }}
                            {% render_field form.teacher class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-purple-500" %}
                            {% if form.teacher.errors %}
                                {% for error in form.teacher.errors %}
                                    <p class="text-red-500 text-xs italic">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <!-- Calendar container -->
                        <div id="calendar-container" class="w-full hidden mt-4">
                            <div id="calendar"></div>
                        </div>

                        <!-- Other form fields -->
                        {% for field in form %}
                            {% if field.name != 'teacher' %}
                            <div class="w-full">
                                {{ field.label_tag }}
                                {% render_field field class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-purple-500" %}
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <p class="text-red-500 text-xs italic">{{ error }}</p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            {% endif %}
                        {% endfor %}

                        <input type="hidden" name="timezone">
                        
                        <div class="pt-6">
                            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                                Submit Lesson Request
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="confirmModal" class="fixed inset-0 z-50 overflow-y-auto hidden bg-black bg-opacity-50">
    <div class="flex items-center justify-center min-h-screen">
        <div class="bg-white rounded-lg p-8 m-4 max-w-xl w-full">
            <h2 class="text-xl mb-4">Confirm Lesson Request</h2>
            <p class="mb-4">Are you sure you want to submit this lesson request?</p>
            <div class="flex justify-end space-x-2">
                <button id="cancelButton" class="px-4 py-2 bg-gray-500 text-white text-base font-medium rounded-md">Cancel</button>
                <button id="confirmButton" class="px-4 py-2 bg-blue-500 text-white text-base font-medium rounded-md">Confirm</button>
            </div>
        </div>
    </div>
</div>


    
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var timezoneInput = document.createElement('input');
        timezoneInput.setAttribute('type', 'hidden');
        timezoneInput.setAttribute('name', 'timezone');
        timezoneInput.setAttribute('value', Intl.DateTimeFormat().resolvedOptions().timeZone);
        document.getElementById('lessonRequestForm').appendChild(timezoneInput);
    });

    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendarContainer = document.getElementById('calendar-container');
        var teacherSelect = document.getElementById('teacher-select');
        var form = document.getElementById('lessonRequestForm');
        var modal = document.getElementById('confirmModal');
        var cancelButton = document.getElementById('cancelButton');
        var confirmButton = document.getElementById('confirmButton');
    
        if (!teacherSelect) {
            console.error('Teacher select element not found');
            return;
        }
    
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            height: 'auto',
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek'
            },
            events: [],
        });
    
        teacherSelect.addEventListener('change', function() {
            var teacherId = this.value;
            if (teacherId) {
                calendarContainer.classList.remove('hidden');
                if (!calendar.isRendered) {
                    calendar.render();
                    calendar.isRendered = true;
                }
                fetch(`/get_teacher_schedule/${teacherId}/`)
                    .then(response => response.json())
                    .then(data => {
                        calendar.removeAllEvents();
                        calendar.addEventSource(data);
                    })
                    .catch(error => console.error('Error:', error));
            } else {
                calendarContainer.classList.add('hidden');
                calendar.removeAllEvents();
            }
        });
    
        // Show modal on form submit
        form.addEventListener('submit', function(e) {
            e.preventDefault();
            modal.classList.remove('hidden');
        });
    
        // Hide modal on cancel
        cancelButton.addEventListener('click', function() {
            modal.classList.add('hidden');
        });
    
        // Submit form on confirm
        confirmButton.addEventListener('click', function() {
            form.submit();
        });
    
        if (teacherSelect.value) {
            teacherSelect.dispatchEvent(new Event('change'));
        }
    });
</script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
{% endblock %}