{% extends "_dashboard.html" %}
{% load static %}

{% block name %}Assignments{% endblock %}

{% block content %}
<div class="container mx-auto">
    {% if user.user_type == 2 %}
    <a href="{% url 'create_assignment' %}" class="bg-purple-500 hover:bg-purple-600 text-white font-bold py-2 px-4 rounded mb-6 inline-block transition duration-300 ease-in-out">
        Create New Assignment
    </a>
    {% endif %}
    
    <ul class="space-y-4">
        {% for assignment in assignments %}
        <li class="bg-white shadow-md rounded-lg p-6 transition duration-300 ease-in-out hover:shadow-lg">
            <h3 class="text-xl font-semibold text-gray-800 mb-2">{{ assignment.task_content }}</h3>
            <p class="text-gray-600 mb-2">Due: {{ assignment.due_date|date:"F d, Y H:i" }}</p>
            {% if user.user_type == 1 %}
                <p class="text-gray-600 mb-2">Set by: {{ assignment.teacher }}</p>
            {% elif user.user_type == 2 %}
                <p class="text-gray-600 mb-2">For: {{ assignment.student }}</p>
            {% endif %}
            <p class="mb-2">
                <span class="{% if assignment.is_completed %}text-green-500{% else %}text-yellow-500{% endif %}">
                    {% if assignment.is_completed %}Completed{% else %}Pending{% endif %}
                </span>
            </p>
            {% if user.user_type == 1 and not assignment.is_completed %}
            <form method="post" action="{% url 'mark_completed' assignment.assignment_id %}">
                {% csrf_token %}
                <button type="submit" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out">
                    Mark as Completed
                </button>
            </form>
            {% endif %}
        </li>
        {% empty %}
        <li class="text-gray-600">No tasks available.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}