{% extends "_dashboard.html" %}
{% block name %}Chat with {{ other_user.get_full_name }}{% endblock %}
{% block content %}

<div class="flex flex-col h-full">
    <div id="chat-messages" class="flex-1 overflow-y-auto border rounded-lg p-4">
        <!-- Messages will be displayed here -->
    </div>
    
    <div class="flex pb-4 pt-2">
        <input type="text" id="chat-message-input" class="flex-grow border rounded-l-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Type your message...">
        <button id="chat-message-submit" class="bg-blue-500 text-white px-4 py-2 rounded-r-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">Send</button>
    </div>
</div>


<script>
    const otherUserId = "{{ other_user.id }}";
    const chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/dm/' + otherUserId + '/'
    );

    const messageInput = document.querySelector('#chat-message-input');
    const messageSubmit = document.querySelector('#chat-message-submit');
    const chatMessages = document.querySelector('#chat-messages');

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        const messageElement = document.createElement('div');
        messageElement.textContent = `${data.sender}: ${data.message}`;
        messageElement.classList.add('mb-2');
        chatMessages.appendChild(messageElement);
        chatMessages.scrollTop = chatMessages.scrollHeight;
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    messageInput.focus();
    messageInput.onkeyup = function(e) {
        if (e.key === 'Enter') {
            messageSubmit.click();
        }
    };

    messageSubmit.onclick = function(e) {
        const message = messageInput.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));
        messageInput.value = '';
    };
</script>
{% endblock %}