{% extends "_dashboard.html" %}

{% block name %} Direct Messages {% endblock %}

{% block content %}
<!-- Direct message list -->
<div class="container mx-auto bg-white rounded-lg shadow-md p-6">
    <ul class="space-y-2">
        {% for user in users %}
            <li>
                <a href="{% url 'direct_message' user.id %}" class="text-purple-800">
                    {{ user.get_full_name }}
                </a>
            </li>
        {% empty %}
            <li>No users available to message.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}