<!-- templates/_base.html -->
{% load static %} {% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NEA</title>
    {% tailwind_css %}
  </head>

  <body class="bg-neutral-200">
    <div>
      <header class="sticky top-0 z-50">
        <div class="flex fixed top-0 py-2 w-full items-center justify-between bg-neutral-800 bg-opacity-95 backdrop-blur shadow-md">
          <!-- Left -->
          <div class="flex flex-grow gap-x-10 px-10 text-lg text-white">
            <div class="flex font-semibold">
              <a href="{% url 'index' %}" class="hover:text-purple-400">Home</a>
            </div>
            <div class="flex">
              <a href="{% url 'index' %}" class="hover:text-purple-400">Home</a>
            </div>
          </div>

          <!-- Right -->
          <div class="flex gap-x-6 px-6">
            {% block navleft %}{% endblock navleft %}
          </div>
        </div>
      </header>

      <main class="relative">
        <!-- Content -->
        {% block content %} {% endblock content %}
      </main>

      <footer></footer>
    </div>

    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"></script>
  </body>
</html>