<!-- templates/_base.html -->

{% load static %} {% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django + Tailwind CSS + Flowbite</title>
    {% tailwind_css %}
  </head>

  <div>
    <header class="sticky top-0 z-50">
      
    </header>
    <main class="relative"></main>
    <footer></footer>
  </div>

  <body class="bg-neutral-200">
    <div class="flex flex-col">
      <!-- Navbar -->
      <div
        class="flex fixed top-0 w-full align-center items-center bg-neutral-200 bg-opacity-95 backdrop-blur"
      >
        <!-- Left -->
        <div class="flex w-full gap-x-10 p-4 text-lg ml-4">
          <!-- AM I STUPID WHY DOES THIS NOT WORK?????!?!?!??!! -->
          <img class="h-auto" src="{% static 'logo.png' %}" alt="logo" />
        </div>

        <!-- Center -->
        <div class="flex gap-x-10 p-4 text-lg justify-center align-center">
          <div class="flex">
            <a href="{% url 'index' %}" class="hover:text-purple-700">Home</a>
          </div>
          <div class="flex">
            <a href="{% url 'index' %}" class="hover:text-purple-700">Home</a>
          </div>
        </div>

        <!-- Right -->
      {% block navleft %}{% endblock navleft %}
      </div>
    </div>
    <!-- Content -->
    {% block content %} {% endblock content %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  </body>
</html>
