<!-- templates/_base.html -->
{% load static %} {% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NEA</title>
    {% tailwind_css %}
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"></script>
  </head>

  <body class="bg-neutral-200">
    <div>
      <header class="sticky top-0 z-50">
        <div class="flex fixed top-0 py-2 w-full items-center justify-between bg-neutral-800 bg-opacity-95 backdrop-blur shadow-md">
          <!-- Left -->
          <div class="flex flex-grow gap-x-10 px-10 text-lg text-white py-2.5">
            {% if not "dashboard" in request.path %}
            <div class="flex font-semibold">
              <a href="{% url 'index' %}" class="hover:text-purple-400">Home</a>
            </div>
            {% endif %}
            {% block navleft %}{% endblock navleft %}
            {% if user.is_authenticated %}
            <div class="flex">
              <a href="{% url 'dashboard' %}" class="hover:text-purple-400">Dashboard</a>
            </div>
            {% endif %}
          </div>

          <!-- Right -->
          <div class="flex gap-x-6 px-6">
            {% block navright %}{% endblock navright %}
            {% if user.is_authenticated %}
            <div x-data="{ open: false }" class="relative inline-block text-left mr-4">
              <div>
                <button @click="open = !open" type="button" class="inline-flex justify-center w-full rounded-md shadow-sm px-4 py-2 bg-purple-500 text-sm font-medium text-white hover:bg-purple-600 ring-purple-800" id="options-menu" aria-haspopup="true" x-bind:aria-expanded="open">
                  {{ user.first_name }} {{ user.last_name }}
                  <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                  </svg>
                </button>
              </div>
          
              <div x-show="open" @click.away="open = false" class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-neutral-100">
                <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                  <a href="{% url 'settings' %}" class="block px-4 py-2 text-sm hover:bg-neutral-200 text-neutral-800" role="menuitem">Settings</a>
                  <a href="{% url 'user_profile' %}" class="block px-4 py-2 text-sm hover:bg-neutral-200 text-neutral-800" role="menuitem">Profile</a>
                  <a href="{% url 'logout' %}" class="block px-4 py-2 text-sm hover:bg-neutral-200 text-neutral-800" role="menuitem">Log out</a>
                </div>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </header>

      <main class="relative">
        <!-- Content -->
        {% block content %} {% endblock content %}
      </main>

      <footer></footer>
    </div>

    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"></script>
  </body>
</html>