{% extends "_base.html" %}
{% load static %}

{% block navleft %}
<button @click="sidebarOpen = !sidebarOpen" class="text-white focus:outline-none">
    <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4 6H20M4 12H20M4 18H11" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
</button>
{% endblock navleft %}

{% block content %}
<div class="flex h-screen bg-gray-200">
    <!-- Sidebar -->
    <div 
        class="z-30 inset-y-0 left-0 w-56 transition duration-300 transform bg-gray-900 overflow-y-auto fixed top-14"
        :class="{'translate-x-0 ease-out': sidebarOpen, '-translate-x-full ease-in': !sidebarOpen}"
    >
        <!-- Sidebar content -->
        <a href="#" class="flex items-center mt-4 py-2 px-6 text-gray-300 hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100">
            <span class="mx-3">Home</span>
        </a>
        <a href="#" class="flex items-center mt-4 py-2 px-6 text-gray-300 hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100">
            <span class="mx-3">Profile</span>
        </a>
        <a href="#" class="flex items-center mt-4 py-2 px-6 text-gray-300 hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100">
            <span class="mx-3">Settings</span>
        </a>
        <a href="" class="flex items-center mt-4 py-2 px-6 text-gray-300 hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100">
          <span class="mx-3">Schedule</span>
        </a>
    </div>

    <!-- Main content -->
    <div class="flex-1 flex flex-col overflow-hidden" :class="{'ml-64': sidebarOpen, 'ml-0': !sidebarOpen}">
        <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200 pt-14" role="main">
            <div class="container mx-auto py-8">
            {% if user.user_type == 1 %}
                <h3 class="text-gray-700 text-3xl font-medium">Student Dashboard Content</h3>
                <!-- Other student-specific navigation items -->
            {% elif user.user_type == 2 %}
                <h3 class="text-gray-700 text-3xl font-medium">Teacher Dashboard Content</h3>
                <!-- Other teacher-specific navigation items -->
            {% endif %}
                
                <!-- Add your dashboard content here -->
            </div>
        </main>
    </div>
</div>
{% endblock content %}