{% load static %} {% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NEA</title>
    {% tailwind_css %}
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"
    ></script>
  </head>

  <body class="bg-neutral-200" x-data="{ sidebarOpen: true }">
    <div>
      <header class="sticky top-0 z-50">
        <div
          class="flex fixed top-0 py-2 w-full items-center justify-between bg-neutral-800 bg-opacity-95 backdrop-blur shadow-md"
        >
          <!-- Left -->
          <div class="flex flex-grow gap-x-10 px-10 text-lg text-white py-2.5">
            {% if "home" in request.path %}
            <div class="flex font-semibold">
              <a href="{% url 'index' %}" class="hover:text-purple-400">Home</a>
            </div>
            {% endif %}
            <!-- Sidebar Button -->
            {% if user.is_authenticated %}
            <button
              @click="sidebarOpen = !sidebarOpen"
              class="text-white focus:outline-none"
            >
              <svg
                class="h-6 w-6"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4 6H20M4 12H20M4 18H11"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></path>
              </svg>
            </button>
            <div class="flex">
              <a href="{% url 'dashboard' %}" class="hover:text-purple-400"
                >Dashboard</a
              >
            </div>
            {% endif %}
          </div>

          <!-- Auto dissapearing messages -->
          <div
            id="messages-container"
            class="fixed left-1/2 transform -translate-x-1/2 z-50 w-full max-w-md px-4"
          >
            <div class="w-full pt-2">
              {% for message in messages %}
              <div
                class="message px-4 py-3 rounded-md shadow-sm mb-2 flex items-center justify-between {% if message.tags == 'error' %} bg-red-100 border border-red-400 text-red-700 {% else %} bg-green-100 border border-green-400 text-green-700 {% endif %}"
                role="alert"
              >
                <span class="flex-grow">{{ message }}</span>
                <button
                  onclick="dismissMessage(this.parentNode)"
                  class="ml-4 focus:outline-none"
                >
                  <svg
                    class="h-5 w-5"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </button>
              </div>
              {% endfor %}
            </div>
          </div>

          <script>
            document.addEventListener("DOMContentLoaded", function () {
              const messages = document.querySelectorAll(
                "#messages-container .message"
              );
              messages.forEach((message) => {
                setTimeout(() => {
                  dismissMessage(message);
                }, 10000);
              });
            });

            function dismissMessage(messageElement) {
              messageElement.style.transition =
                "opacity 300ms, transform 300ms";
              messageElement.style.opacity = "0";
              messageElement.style.transform = "scale(0.9)";
              setTimeout(() => {
                messageElement.remove();
              }, 300);
            }
          </script>

          <!-- Right -->
          <div class="flex gap-x-6 px-6">
            {% block navright %} {% endblock navright %} {% if user.is_authenticated %}

            <!-- Notification component -->
            {% include "components/notification.html" %}

            <!-- Current user component -->
            {% include "components/current_user.html" %}
            {% endif %}
          </div>
        </div>
      </header>

      <main class="relative">
        <!-- Content | Below is dashboard only code -->
        <div class="flex h-screen bg-gray-200">
          <!-- Sidebar -->
          <div
            class="z-30 inset-y-0 left-0 w-56 transition duration-300 transform bg-gray-900 overflow-y-auto fixed top-14"
            :class="{'translate-x-0 ease-out': sidebarOpen, '-translate-x-full ease-in': !sidebarOpen}"
          >
            <!-- Sidebar content -->
            <a
              href="{% url 'calendar' %}"
              class="flex items-center mt-4 py-2 px-6 text-gray-300 hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100"
            >
              <span class="mx-3">Home</span>
            </a>
            <a
              href="#"
              class="flex items-center mt-4 py-2 px-6 text-gray-300 hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100"
            >
              <span class="mx-3">Profile</span>
            </a>
            <a
              href="#"
              class="flex items-center mt-4 py-2 px-6 text-gray-300 hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100"
            >
              <span class="mx-3">Settings</span>
            </a>
            {% block sidemenu %}{% endblock %}
          </div>

          <!-- Main content -->
          <div
            class="flex-1 flex flex-col overflow-hidden"
            :class="{'ml-64': sidebarOpen, 'ml-0': !sidebarOpen}"
          >
            <main
              class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200 pt-14"
              role="main"
            >
              <div class="container mx-auto py-8">
                <h3 class="text-gray-700 text-3xl font-medium">
                  {% block name %}{% endblock %}
                </h3>
                <!-- Add dashboard content here... -->
                {% block content %}{% endblock %}
              </div>
            </main>
          </div>
        </div>
      </main>

      <footer></footer>
    </div>

    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"
    ></script>
  </body>
</html>
