{% extends "_base.html" %}

<!-- Home page -->
{% block content %}
<div class="">
  <div class="bg-gradient-to-b from-purple-500 to-blue-900">
    <div class="flex flex-col flex-auto items-center justify-center h-svh">
      <p class="p-5 text-5xl font-bold text-white">MusBook</p>
      <p class="text-xl text-white">Music lesson scheduling made easy</p>

      {% if not user.is_authenticated %}
      <div class="p-10">
        <a href="{% url 'student_login' %}" class="px-4">
          <button
            type="button"
            class="bg-neutral-700 text-white font-medium rounded-lg px-5 py-2.5 hover:bg-neutral-800 hover:ring-2 hover:ring-neutral-500 shadow-lg"
          >
            Students
          </button>
        </a>
        <a href="{% url 'teacher_login' %}" class="px-4">
          <button
            type="button"
            class="bg-neutral-700 text-white font-medium rounded-lg px-5 py-2.5 hover:bg-neutral-800 hover:ring-2 hover:ring-neutral-500 shadow-lg"
          >
            Teachers
          </button>
        </a>
      </div>
      {% endif %}
    </div>
  </div>
  
</div>
{% endblock content %}
